$primaryBG: rgb(143, 180, 204);
$primaryBG: rgb(98, 184, 224);

body {
    font-family: 'Roboto', sans-serif;
}

.r-calendar {max-width: 1000px; margin: 0 auto;}
.r-calendar-main-table  td {padding: 0px 0;height:40px;line-height: 3em;min-width: 70px;max-width: 70px;border:0;}
.r-calendar-main-table tr td:first-child {min-width: auto;max-width: initial;}
.booking-popup .row {margin-bottom: 10px;}
.r-calendar-main-table tr th:first-child
,.r-calendar-main-table tr td:first-child {position: sticky;left:0;z-index: 2;white-space: nowrap;}

.r-calendar-main-table tr td:first-child, .r-calendar-main-table tr th:first-child {
    // background: rgb(230, 218, 239)!important;
    background: lighten($primaryBG, 30%)!important;
}
.r-calendar-main-table tr td:first-child > div 
{padding: 0 15px;text-align: right;color: #555;}


.r-calendar-main-table tr:nth-child(odd) td:first-child > div, 
.r-calendar-main-table tr td:nth-child(odd) 
,.r-calendar .r-calendar-main-table tbody tr:nth-of-type(odd)
,.r-calendar-main-table thead th:nth-child(odd)
,#guest-list-table.table-striped tbody tr:nth-of-type(odd)
{background:rgba($primaryBG, 0.11)}

.r-calendar-main-table thead
,.r-calendar-main-table tr th:hover
{background:rgba($primaryBG, 0.4)}

.r-calendar-main-table thead th {font-weight: normal;cursor: col-resize; }
.r-calendar-head-date {color: #333;}
.r-calendar-head-month, .r-calendar-main-table tr td:first-child > div {color: #666;font-size: .8em;padding: 0 7px;text-transform: uppercase;}
.r-calendar-main-table tr td:first-child > div {border-right: 1px solid $primaryBG;}

.booking {background:hsla(222, 31%, 65%, 0.9);padding: 0px;z-index: 1;position: relative;line-height: 3em;color: #fff;width: 100%;}

.r-calendar .popup-wrapper {position: fixed;top:0%;left: 0;padding-top: 2%;;width: 100%;height: 100%;background: rgba(0,0,0,.2);text-align: left;}
.r-calendar .popup {width: 800px;max-width: 100%;margin: 0% auto 0;}
.r-calendar .popup .card-header h5 {margin: 0;text-transform: capitalize;}
.r-calendar .popup .card-header
{background:desaturate( darken($primaryBG, 13%), 34%);color: #fff;}
.r-calendar .popup #guest-list-table {color:#777;font-size: .9em;}

#guest-list-table tr th:nth-child(1) 
, #guest-list-table tr td:nth-child(1) 
{width: 30px;text-align: center}
#guest-list-table tr th:nth-child(3) 
, #guest-list-table tr td:nth-child(3) 
{width: 80px;text-align: center}

.react-datepicker__input-container input {
    font-size: 13px;
    border-radius: 4px;
    border: 1px solid #aeaeae;
    line-height: 16px;
    padding: 10px;
}

.react-datepicker-popper {z-index: 10!important;}
